.header-index {
    margin-bottom: 5%;
    .format-logo {
        margin: 0, auto;
        width: 20%; height: 95%;
        padding: auto;
        display: inline; 
    }
    .bg-menu {
        background-color: rgb(63, 58, 48);
    }
}